/* App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  color: #ffffff;
  font-size: 4rem;
  font-family: monospace;
  text-align: center;
}

.ascii-art {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  display: flex;
  gap: 15px; /* Increase gap between letters */
  font-size: 15rem; /* Increase font size */
  animation: fadeIn 2s ease-in-out;
}

.letter {
  font-weight: bold;
  animation: colorChange 3s infinite, bounce 1s infinite, netflix 1.5s forwards, scaleUp 2s infinite, rotate 1s infinite;
  display: inline-block;
  opacity: 0; /* Start with invisible letters */
  transform: translateZ(1000px); /* Start from far away */
}

.letter-t {
  animation-delay: 0s, 0s, 0s, 0s, 0s;
}
.letter-y {
  animation-delay: 0.5s, 0.5s, 0.5s, 0.5s, 0.5s;
}
.letter-a {
  animation-delay: 1s, 1s, 1s, 1s, 1s;
}

@keyframes colorChange {
  0% { color: red; }
  25% { color: yellow; }
  50% { color: green; }
  75% { color: cyan; }
  100% { color: purple; }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* Increase bounce height */
  }
}

@keyframes netflix {
  0% {
    transform: translateZ(1000px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes scaleUp {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Scale up */
  }
}

@keyframes textAnimation {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg); /* Full rotation */
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Visitor Counter */
.visitor-counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.visitor-counter span {
  margin-right: 5px; /* Space between icon and count */
}

@media (max-width: 768px) {
  .App {
    font-size: 5rem; /* Further increase font size */
  }

  .text {
    font-size: 11rem; /* Further increase font size */
  }

  .visitor-counter {
    font-size: 2.5rem; /* Further increase font size */
  }
}

@media (max-width: 480px) {
  .App {
    font-size: 4.5rem; /* Further increase font size */
  }

  .text {
    font-size: 9rem; /* Further increase font size */
  }

  .visitor-counter {
    font-size: 2.25rem; /* Further increase font size */
  }
}
